

.wordle-index-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 24px;

  .wordle-index-page-header {
    margin-left: auto;
    margin-right: auto;
  }

  .wordle-game-input-pad {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

    gap: 6px;
  }

  .wordle-game-input-pad-row {
    margin-left: auto;
    margin-right: auto;
    display: flex;

    gap: 6px;
  }

  .wordle-game-input-field {
    width: 62px;
    height: 62px;
    border: 2px solid #d3d6da;

    font-family: "nyt-franklin";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 62px;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: #000000;
    text-transform: uppercase;
    -webkit-user-select: none;
    text-align: center;
    -moz-user-select: none;
    user-select: none;

    &:disabled {
      background: transparent;
    }

    &.filled {
      border: 2px solid #878a8c;
    }

    &.absent {
      animation: absent_flip 0.5s ease forwards;
    }

    &.present {
      animation: present_flip 0.5s ease forwards;
    }

    &.correct {
      animation: correct_flip 0.5s ease forwards;
    }

    &:nth-child(1) {
      animation-delay: 0s;
    }
    &:nth-child(2) {
      animation-delay: 0.1s;
    }
    &:nth-child(3) {
      animation-delay: 0.2s;
    }
    &:nth-child(4) {
      animation-delay: 0.3s;
    }
    &:nth-child(5) {
      animation-delay: 0.4s;
    }
  }

  @keyframes absent_flip {
    0% {
      transform: rotateX(0);
      background: #fff;
      border-color: #333;
    }
    45% {
      transform: rotateX(90deg);
      background: #fff;
      border-color: #333;
    }
    55% {
      transform: rotateX(90deg);
      background: #787c7e;   
      border-color: #787c7e;
    }
    100% {
      background: #787c7e;   
      border-color: #787c7e;
      color: #eee;
    }
  }

  @keyframes present_flip {
    0% {
      transform: rotateX(0);
      background: #fff;
      border-color: #333;
    }
    45% {
      transform: rotateX(90deg);
      background: #fff;
      border-color: #333;
    }
    55% {
      transform: rotateX(90deg);
      background: #c9b458;   
      border-color: #c9b458;
    }
    100% {
      background: #c9b458;   
      border-color: #c9b458;
      color: #eee;
    }
  }

  @keyframes present_flip {
    0% {
      transform: rotateX(0);
      background: #fff;
      border-color: #333;
    }
    45% {
      transform: rotateX(90deg);
      background: #fff;
      border-color: #333;
    }
    55% {
      transform: rotateX(90deg);
      background: #c9b458;   
      border-color: #c9b458;
    }
    100% {
      background: #c9b458;   
      border-color: #c9b458;
      color: #eee;
    }
  }

  @keyframes correct_flip {
    0% {
      transform: rotateX(0);
      background: #fff;
      border-color: #333;
    }
    45% {
      transform: rotateX(90deg);
      background: #fff;
      border-color: #333;
    }
    55% {
      transform: rotateX(90deg);
      background: #198038;   
      border-color: #198038;
    }
    100% {
      background: #198038;   
      border-color: #198038;
      color: #eee;
    }
  }

  .wordle-game-character-buttons-container {
    display: flex;

    flex-direction: column;

    gap: 8px;
  }

  .wordle-game-character-buttons-row {
    display: flex;
    justify-content: center;

    gap: 6px;
  }

  .wordle-game-enter-button {
    font-family: "nyt-franklin";
    font-size: 12px;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0;
    height: 58px;
    width: 65px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #d3d6da;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(0, 0, 0, .3);
  }

  .wordle-game-character-button {
    font-family: "nyt-franklin";
    font-size: 1.25em;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0;
    height: 58px;
    width: 43px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #d3d6da;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(0, 0, 0, .3);

    &.absent {
      background: #787c7e;
      color: #eeeeee;
    }

    &.present {
      background: #c9b458;
      color: #eeeeee;
    }

    &.correct {
      background: #198038;
      color: #eeeeee;
    }
  }

  .wordle-game-backspace-button {
    border: 0;
    padding: 0;
    margin: 0;
    height: 58px;
    width: 65px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #d3d6da;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(0, 0, 0, .3);
  }


}